.prose {
  font-size: 1.1rem;
  line-height: 1.7;
  color: #22223b;
}
.prose h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.3em;
  font-weight: bold;
  color: #1e293b;
}
.prose ul {
  margin-bottom: 1.5rem;
  padding-left: 1.5rem;
  list-style: disc;
}
.prose a {
  color: #ff7043;
  text-decoration: underline;
} 